<ion-header>

  <ion-navbar>
    <ion-title>{{ 'SEARCH_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar (ionInput)="getHosts($event)" placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"></ion-searchbar>
  <ion-list>
    <button ion-item (click)="openHost(host)" *ngFor="let host of currentHosts">
      <ion-avatar item-start>
        <img [src]="host.profilePic" />
      </ion-avatar>
      <h2>{{host.name}}</h2>
      <p>{{host.about}}</p>
      <ion-note item-end *ngIf="host.note">{{host.note}}</ion-note>
    </button>
  </ion-list>
</ion-content>